app-add-player {
  position: absolute;
  right: 5rem;
  top: 5rem;
}

app-roll-initiative-button {
  position: fixed;
  width: 10rem;
  right: 40rem;
  top: 25rem;
}

app-add-player-button {
  position: fixed;
  right: 40rem;
  top: 20rem;
  width: 10rem;
}
