<h3>{{currentEntity.name}} Targets {{target.name}}</h3>
<h3>{{target.currentHp}}</h3>
<input matInput [(ngModel)] = 'change' type = 'number' placeholder="Dice Roll Goes Here">
<div *ngIf = "negatedAdvantage">
  <h3>Conditional Advantage has been negated</h3>
</div>
<div *ngIf = "conditionalRoll">
  <div *ngIf = "currentEntity.advantage">
    <input matInput [(ngModel)] = 'advantage' type = 'number' placeholder="advantage roll">
  </div>
  <div *ngIf = "currentEntity.disadvantage">
    <input matInput [(ngModel)] = 'advantage' type = 'number' placeholder = "disadvantage roll">
  </div>
</div>
<div *ngIf = "!hit">
  <div *ngIf = "!conditionalRoll">
    <button (click) = "attackRoll(change)">Make an attack</button>
  </div>
  <div *ngIf = "conditionalRoll">
    <button (click) = "specialRoll(change, advantage)">Conditional Attack Roll</button>
  </div>
  <button (click) = "damageTarget(change)">Damage on a miss</button>
  <button (click) = 'healTarget(change)'> Heal Target</button>
</div>
<div *ngIf = "hit">
  <button (click) = 'damageTarget(change)'>Deal Damage</button>
</div>


<button (click) = 'setCondition()'>Add Condition</button>
<div *ngIf = 'addCondition'>
  <div *ngFor = 'let key of conditionKeys'>
    <button (click) = 'inflictCondition(key)'>{{key}}</button>
  </div>
</div>
<button (click) = 'endActions()'>X</button>
